.slider {
  overflow: auto;
  display: none;
  align-items: center;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  scrollbar-width: none;
}
.slider img {
  width: 500px;
  height: 550px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.slider .move {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .slider {
    display: flex;
  }
}

@media (max-width: 600px) {
  .slider img {
    width: 400px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 425px) {
  .slider img {
    width: 340px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
}
