.modal {
  border: 1px solid var(--border);
  background-color: var(--bg);
  width: 180px;
  position: absolute;
  top: 40px;
  right: 0;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  visibility: hidden;
  z-index: 10;
}

.modal.showMenuLanguague {
  opacity: 1;
  visibility: visible;
}

.modal span {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid #222;
}
.modal .toggle_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}

.modal .toggle_container p {
  font-size: 14px;
  font-weight: 300;
  color: var(--paragraph);
}

.modal button {
  width: 100%;
  color: white;
  padding: 10px 20px;
}

.modal .button:hover {
  background-color: aliceblue;
}
