.slider {
  height: auto;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

.slider .move {
  display: flex;
  width: calc(565px * 12);
  animation: animacion 40s linear infinite;
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-565px * 10));
  }
}

.slider .card {
  height: auto;
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  will-change: transform;
}

.slider .card:hover .content_image img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.card .content_image {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.card .content_image img {
  transition: transform 0.3s ease-in-out;
  width: 550px;
  height: 650px;
  object-fit: cover;
  object-position: center;
}

.card .project_name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.card:hover .project_name {
  opacity: 1;
}

@media (max-width: 1300px) {
  .card .content_image img {
    height: 550px;
  }
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }
}
