.slider {
  height: auto;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

.slider .move {
  display: flex;
  width: calc(565px * 12);
  animation: animacion 30s linear infinite;
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-565px * 6));
  }
}

.slider .card {
  height: auto;
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform;
}

.slider .card:hover .content_image img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.card .content_image {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card .content_image img {
  transition: transform 0.3s ease-in-out;
  width: 550px;
  height: 650px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1300px) {
  .card .content_image img {
    height: 550px;
  }
}

@media (max-width: 768px) {
  .slider {
    display: none;
  }
}
