.container {
  width: 100%;
  max-width: 2400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-image: linear-gradient(
    rgb(2, 2, 2) 0%,
    rgba(2, 2, 2, 0.992) 11.7896%,
    rgba(2, 2, 2, 0.97) 21.3837%,
    rgba(2, 2, 2, 0.93) 29.12%,
    rgba(2, 2, 2, 0.88) 35.3363%,
    rgba(2, 2, 2, 0.82) 40.3704%,
    rgba(2, 2, 2, 0.75) 44.56%,
    rgba(2, 2, 2, 0.67) 48.243%,
    rgba(2, 2, 2, 0.59) 51.757%,
    rgba(2, 2, 2, 0.5) 55.44%,
    rgba(2, 2, 2, 0.416) 59.6296%,
    rgba(2, 2, 2, 0.325) 64.6637%,
    rgba(2, 2, 2, 0.24) 70.88%,
    rgba(2, 2, 2, 0.153) 78.6163%,
    rgba(2, 2, 2, 0.075) 88.2104%,
    rgba(2, 2, 2, 0) 100%
  );
}

.container .nav_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 10px;
  position: relative;
}

.nav_bar .avar_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.nav_bar .avar_user .container_image {
  display: flex;
  align-items: center;
  border: 2px solid var(--violet);
  padding: 5px;
  border-radius: 50%;
}

.nav_bar .avar_user .container_image img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.nav_bar .avar_user .text_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.nav_bar .avar_user .text_info span {
  color: var(--title);
  font-size: 16px;
}

.text_info .content_p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.text_info .content_p a {
  color: var(--paragraph);
  font-size: 14px;
  font-weight: 300;
}

.text_info .content_p a:hover {
  color: var(--title);
  transition: color 1.5s ease;
}

.container_circle {
  position: relative;
  display: flex;
  align-items: center;
}
.content_p .circle_green {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #10b981;
}

.content_p .circle_green:nth-of-type(2) {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #10b981;
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
}

.nav_bar .list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list a {
  margin-right: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.list .li_button {
  display: flex;
  align-items: center;
  position: relative;
}

.list .li_button button {
  display: flex;
  align-items: center;
}

.nav_bar .hamburguer_menu {
  display: none;
  align-items: center;
}

.nav_bar .hamburguer_menu button {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    align-items: flex-start;
    overflow-y: hidden;
    max-height: 104px;
    transition: max-height 0.5s ease;
  }

  .container.show {
    max-height: 100vh;
    transition: max-height 0.5s ease;
    backdrop-filter: blur(5px);
  }

  .container .nav_bar {
    flex-wrap: wrap;
    row-gap: 50px;
  }

  .nav_bar .avar_user .container_image img {
    width: 40px;
    height: 40px;
  }

  .nav_bar .avar_user .text_info span {
    font-size: 15px;
    letter-spacing: -0.5px;
  }

  .text_info .content_p a {
    font-size: 11px;
    font-weight: 300;
  }
  .nav_bar .hamburguer_menu {
    order: 2;
    display: flex;
  }

  .nav_bar .list {
    order: 3;
    width: 100%;
    min-height: calc(100vh - 134px);
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding: 0px 20px;
  }

  .list li {
    font-weight: 400;
    font-size: 18px;
  }

  .list .li_button {
    display: none;
  }
}
