.container_banner_contact {
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-image: url("./../../assets/images/invertBackground.webp");
  background-size: cover;
  background-position-x: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
  position: relative;
  padding: 0px 0px 250px 0px;
  overflow-y: hidden;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px 15px;
}

.content .title_paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content .subtitle {
  color: white;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  border: 1px solid var(--border);
  background-color: var(--bg);
  padding: 5px 15px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle {
  width: 8px;
  height: 8px;
  background: #10b981;
  border-radius: 50%;
  margin-right: 7px;
}

.content h2 {
  font-size: 45px;
  font-weight: 400;
  color: var(--title);
  letter-spacing: -1.5px;
  text-align: center;
  line-height: 65px;
  text-wrap: balance;
}

.content p {
  color: white;
  opacity: 0.8;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  max-width: 500px;
}

.button_email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}
.button_email button {
  background: rgba(12, 12, 15, 0.388);
  backdrop-filter: blur(2px);
  border: 1px solid var(--border);
  border-right: none;
  color: rgba(255, 255, 255, 0.48);
  padding: 10px 15px;
  font-family: inherit;
  width: 240px;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: none;
}

.button_email button:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

.button_email a {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-left: none;
  background: var(--bg);
  padding: 0px 15px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: none;
  transition: all 0.3s ease;
}

.icon {
  transition: all 0.5s ease-in-out;
}

.button_email a:hover .icon {
  fill: white;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .container_banner_contact {
    background-size: 150%;
  }
  .content h2 {
    font-size: 40px;
    line-height: 55px;
    text-wrap: balance;
  }

  .content p {
    font-size: 16px;
    line-height: 30px;
    text-wrap: stable;
    max-width: 300px;
    opacity: 60%;
  }
}

@media (max-width: 535px) {
  .container_banner_contact {
    background-size: cover;
  }
}

@media (max-width: 535px) {
  .button_email button {
    font-size: 13px;
  }
}
